html {
  font: 400 1.1em "Open Sans", sans serif;
}

h2,
h3,
h4,
h5 {
  font-weight: 200;
}

body {
  margin: 0 auto;
  line-height: 1.2em;
}

header {
  background: #660000;
}

nav {
  background: #660000;
  padding: .5% 1% .5% 1%;
}

nav h1 {
  font-size: 1.5em;
  padding-bottom: .5%;
  font-weight: 400;
}

nav li {
  display: inline-block;
  margin-right: 1%;
}

nav ul ul {
  display: none;
}

input,
select {
  margin: 0% 0% 1% 0%;
}

input,
button,
select,
textarea {
  font-size: 1.0em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #660000), color-stop(1, #660000));
  background: -moz-linear-gradient(center top, #660000 5%, #660000 100%);
  color: white;
}

select option {
  border: 1px solid #b8b8b8;
  background: #660000;
}

.span2 {
  width: 180px;
}

input:hover,
button:hover,
select:hover {
  cursor: pointer;
}

a {
  color: #aa4400;
}

nav a {
  text-decoration: none;
  color: white;
  background: #660000;
  padding: 1px 3px 0px 3px;
}

nav a:hover {
  color: #e8e8e8;
}

nav ul li a:hover {
  background: white;
  color: #660000;
  border-radius: 5px 5px 0 0;
}

nav ul li .dropdown {
  display: block;
}

nav ul li ul a {
  display: block;
  background: white;
  color: #660000;
}

nav ul li ul a:hover {
  display: block;
  background: #e8e8e8;
  color: #660000;
}

nav ul li:hover>ul,
nav ul li:focus>ul {
  display: block;
  position: absolute;
  z-index: 999;
  background: white;
  padding: .3em;
  border: 1px solid #b8b8b8;
}

nav ul li:hover>ul li,
nav ul li:focus>ul li {
  display: block;
}

nav ul li ul li:hover {
  background: #e8e8e8;
}

nav form {
  float: right;
}

aside,
footer {
  padding: 1%;
  float: left;
}

article {
  background: white;
  line-height: 1.3em;
  width: 60%;
  display: inline-block;
  float: left;
  margin: 2% 1% 0% 4%;
}

footer {
  font-size: 0.8em;
  display: block;
  clear: both;
}

#copyright {
  padding: 5px;
}

#copyright img {
  width: 100px;
  height: 100px;
}

article header p {
  font-size: 0.8em;
}

article header {
  margin-bottom: 1%;
  background: #e8e8e8;
}

.highlight,
u {
  background-color: inherit;
  text-decoration: underline;
  text-decoration-color: red;
  -webkit-text-decoration-color: red;
}

.subtext {
  font-size: 0.8em;
  color: #333333;
}

.spaced-box,
.textbox,
.blurb-box,
.message,
.statistics {
  border: 1px solid #b8b8b8;
  background-color: #e8e8e8;
}

#search {
  margin: 2% 2% 2% 0;
}

.spaced-box {
  color: #505050;
  padding: 2%;
  margin: 2% 2% 2% 2%;
}

.spaced-box h1 {
  font-size: 1.4em;
  text-transform: uppercase;
}

.textbox {
  color: #505050;
  padding: 1%;
  margin: 0% 0% 1% 0%;
}

.blurb-box {
  color: #505050;
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  margin: auto;
  max-width: 600px;
}

.message {
  font-size: 0.8em;
  color: #505050;
  padding: 2%;
}

.default {
  padding: 0px;
  border: 1px solid #b8b8b8;
  font-size: 0.9em;
}

table {
  width: fit-content;
  margin: auto;
}

.default tr:nth-child(odd) {
  background-color: #e8e8e8;
}

.default tr:nth-child(even) {
  background-color: white;
}

.default td,
.default th {
  vertical-align: middle;
  border: 1px solid #b8b8b8;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 5px;
}

#search-next {
  float: right;
}

.off-screen,
a.skip-nav {
  position: absolute;
  left: -999px;
  overflow: hidden;
}

a.skip-nav:hover,
a.skip-nav:link:active,
a.skip-nav:focus {
  position: relative;
  left: 0px;
  float: center;
  color: #aa4400;
  text-decoration: none;
  background: white;
}

.default tr:last-child td {
  border-width: 0px 1px 0px 0px;
}

.default tr td:last-child {
  border-width: 0px 0px 1px 0px;
}

.default tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}

.default tr th {
  background-color: #404040;
  border: 1px solid #b8b8b8;
  border-width: 0px 0px 1px 1px;
  font-weight: 700;
  color: white;
}

form label {
  display: block;
}

input[type="text"] {
  width: 80%;
}

form textarea {
  width: 100%;
}

form details {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid black;
}

.intransigent {
  display: none;
}

.container .row {
  max-width: 860px;
  margin: auto;
}

[tooltip] {
  margin: 0px;
  position: relative;
}

[tooltip]:hover::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 100;
}

[tooltip]:hover::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
}
